*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}

.navbar{
     position: fixed;
     width: 100%;
     /* padding: 10px 0; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* background-color: rgb(0, 136, 255); */
}

.max-width{
     max-width: 1400px;
     padding: 0 10px;
     margin: auto;
}
.navbar .max-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.navbar .logo a{
     color: white;
     font-size: 35px;
     font-weight: 600;
}
.navbar .menu li{
     color: white;
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
   color: white;
   font-size: 18px;
   font-weight: 500;
   margin-left: 25px;
   transition: color 0.3s ease;
}
.navbar .menu li a:hover{
     color: rgb(0, 136, 255);
}
.menu-botton{
     color: white;
     font-size: 23px;
     display: none;
     cursor: pointer;
}

.home{
     display: flex;
     background: url(im.png) no-repeat center;
     height: 100vh;
     min-height: 500px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home .max-width{
     margin: auto 0 auto 80px;
}

.home .home-content{
    color: white;
}

@media(max-width: 800px){
     .home .max-width{
          margin: auto 0 auto 8vw;
          font-size: 3.2vw;
     }
}

@media(max-width: 947px){
     .menu-botton{
          display: block;
          z-index: 999;
     }
     .menu-botton i.active::before{
          content: "\f00d";
     }
     .max-width{
          padding: 0 30px;
     }
     .navbar .menu{
          position: fixed;
          background: black;
          width: 100%;
          height: 100vh;
          left: -100%;
          top: 0;
          text-align: center;
          padding-top: 80px;
          transition: all 0.3s ease;
     }
     .navbar .menu.active{
     left: 0;
     }
     .navbar .menu li{
          display: block;  
     }
     .navbar .menu li a{
        display: inline-block;
       margin: 20px 0;
        font-size: 25px;

     }
}


.about{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: auto 80px auto 80px;
}
.about .inner{
     margin-top: 50px;
}
.about .inner .about-details{
     color: white;
     display: inline-block;
}
.about .inner .about-boxes{
     color: white;
     /* margin-left: 150px;*/
     margin-right: 150px; 
     display: inline-block;
}

header{
     color: white;
     font-size: 60px;
     font-weight: 700;
     margin: auto;
     width: fit-content;
}
.outer{
     margin-top: 30px;
}
.outer header{
     font-size: 40px;
     font-weight: 700;
}
.about .inner .about-boxes .b1 .box1{
     width: 160px;
     height: 100px;
     padding: 5px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: 0;
     text-align: center;
     margin-right: 10px;
}
.about .inner .about-boxes .b1 .box2{
     width: 200px;
     height: 100px;
     padding: 5px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: 0;
     text-align: center;
}
.about .inner .about-boxes .b2{
     margin-top: 20px;
}
.about .inner .about-boxes .b2 .box3{
     width: 200px;
     height: 100px;
     padding: 5px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: 0;
     text-align: center;
     margin-right: 10px; 
}
.about .inner .about-boxes .b2 .box4{
     width: 160px;
     height: 100px;
     padding: 5px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: 0;
     text-align: center;
}
.about .timeline{
     position: relative;
     margin :100px auto;
     max-width: 1200px;
}
.about .inner .about-details{
     margin-right: 400px;
}

.about .container{
     padding: 10px 50px;
     position: relative;
     width: 50%;
}
.about .container .box{
     padding: 20px 30px;
     background: #fff;
     position: relative;
     border-radius: 6px;
     font-size: 15px;
}
.left-con{
     left: 0;
}
.right-con{
     left:50%;
}
.container img{
     position: absolute;
     width: 40px;
     border-radius: 50%;
     right: -20px;
     top: 32px;
     z-index: 10px;
}
.right-con img{
     left: -20px;
} 

.timeline::after{
     content: '';
     position: absolute;
     width: 6px;
     height: 100%;
     background: rgb(0, 136, 255);
     top: 0;
     left: 50%;
     margin-left: -3px;
     z-index: -1;
}

@media (max-width:600px){
     .about{
          margin: auto 10px auto 10px;
     }
     .about .inner .about-details{
          font-size: 15px;
     }
     header{
          font-size: 30px;
     }
     .timeline{
      margin: 50px auto;
     }
     .timeline::after{
          left: 30px;
     }
     .about .container{
          width: 100%;
          padding-left: 80px;
          padding-right: 25px;

     }
     .right-con{
          left: 0;
     }
     .left-con img , .right-con img{
          left: 10px;
     }
}

.protfolio{
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 50px 80px auto 80px; 
}
.protfolio .project-box{
     display:grid;
     grid-template-columns: repeat(auto-fit ,minmax(270px , 1fr));
     gap: 25px;
     margin-top: 50px;
}
.protfolio .project-box .box{
     width: 200px;
     height: 140px;
     padding: 5px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: auto;
     text-align: center;
}
.protfolio .project-box .box .btn{
     margin-top: 50px;
     display: inline-block;
     background: rgb(0, 136, 255);
     color: white;
     font-size: 17px;
     border-radius: 5px;
     padding: 5px 17px;
}
.protfolio .project-box .box:hover{
     transform:scale(1.05);
}
.protfolio .experience{
     padding-top: 60px;
}
.protfolio .experience .timeline{
     position: relative;
     margin :100px auto;
     max-width: 1200px;
}
.protfolio .container{
     padding: 10px 50px;
     position: relative;
     width: 50%;
}
.protfolio .container .box{
     padding: 20px 30px;
     color: black;
     background: #fff;
     position: relative;
     border-radius: 6px;
     font-size: 15px;
}
.protfolio .skills{
     display:grid;
     grid-template-columns: repeat(auto-fit ,minmax(200px , 1fr));
     gap: 50px;
     margin-top: 50px;
}
.protfolio .skills .box{
     width: 150px;
     height: 140px;
     padding-top: 50px;
     border: 3px solid rgb(0, 136, 255) ;
     border-radius: 15px;
     margin: auto;
     text-align: center;
}

.protfolio .skills .box:hover{
     transform:scale(1.05);
}

/* .contact h2{
     margin-bottom: 3rem;
}
.contact .form{
     max-width: 70px;
     margin: 1px auto;
     text-align: center;
     margin-bottom: 3px;
}

.contact form .inputbox{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.contact form .inputbox input , .contact form .textarea {
     width: 80%;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: red;
     background-color: blue;
     border-radius: .8rem;
     margin: .7rem;
} */



.contact .container .contactForm{
     position: absolute;
      padding: 68px 82px;
      background: white;
      margin-left: 335px;
      top: 35px;
      padding-left: 250px;
      width: calc(82% - 340px);
      height: 60%;
      box-shadow: 0 50px 50px rgba(0,0,0,0.5); 
  
  }
 .contactForm h2{
      color: white;
  }
.contactForm .formBox{
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 50px;
      padding-top: 30px;
  }
  
.contactForm .formBox .inputBox{
      position: 0 0 35px 0;
      padding-top: 5px;
  }
  .contactForm .formBox .inputBox.w50{
      width: 47%;
  }
 .contact .container .contactForm .formBox .inputBox.w100{
      width: 100%;
  }
  .contactForm .formBox .inputBox input,
 .contactForm .formBox .inputBox textarea
  {
      width: 100% !important;
      padding: 5px 0;
      resize: none;
      font-size: 18px;
      font-weight: 300;
      color: #333;
      border: none;
      border-bottom: 1px solid #777;
      outline: none;
  }
  
.contactForm .formBox .inputBox textarea{
      min-height: 70px;
  }
 .contactForm .formBox .inputBox span{
      position: relative;
      left: 0;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      /* font-family: 'Ubuntu', sans-serif; */
      color: white;
      transition: 0.3s;
      pointer-events: none;
  }
.contactForm .formBox .inputBox input:focus ~ span,
.contactForm .formBox .inputBox textarea:focus ~span,
.contactForm .formBox .inputBox input:valid ~ span,
.contactForm .formBox .inputBox textarea:valid ~span{
      transform: translateY(-20px);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      color: rgb(0, 136, 255);
  }
  
.contactForm .formBox .inputBox input[type="submit"]{
      position: relative;
      cursor: pointer;
      background: #0f3959;
      color: white;
      border: none;
      max-width: 100px;
      padding: 10px;
  }
.contactForm .formBox .inputBox input[type="submit"]:hover{
      background: rgb(0, 136, 255);
  }
  .outer_protfolio{
     margin-top: 50px;
  }
